.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.vbox {
    -fx-background-color: transparent;
}